PORT=4000
JWT_SECRET=change-me
COMPANY_NAME=Solar PV Solutions Pvt. Ltd.
OPENWEATHER_API_KEY=f1323b08c245003f44581986b788db28

# Local dev (non-docker) example:
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/solarq?schema=public
